@import "base/mixins"; 

@media print {

  // Hide from PRINT
  .c-header {
    &__social, 
    &__search, 
    &__user {
      display: none !important;
    }
  } 

  // Hide from PRINT devices
  .c-footer,
  nav, 
  #_atssh, 
  #service-icons-0, 
  .addthis-smartlayers, 
  .c-navToggle, 
  .e-btn, 
  .c-pgn, 
  .s-categoryList--related, 
  .c-articleInfo, 
  .c-filter,
  .s-section--path, 
  .c-path, 
  .c-searchRes__options, 
  .c-searchRes__notice, 
  .c-halmed, 
  .c-userForm__footer, 
  .c-userForm__header a, 
  .c-profileSummary__options, 
  .c-modal, 
  .c-profileSummary__accordion_title, 
  .c-profileSummary__entryOptions, 
  .c-gridData__add, 
  .c-gridData__header, 
  .c-gridData__table_delete, 
  .c-gridData__footer, 
  .c-gridData__table_view {
    display: none !important;
  }

  // Common
  *, 
  *:after, 
  *:before {
    background: none !important;
    background-image: none !important;
    color: #000;
  }

  body {
    height: auto;  
    display: block;
    padding: 0;
    overflow: visible;
  }

  p, li, h1, h2, h3, h4, h5, td, th {
    page-break-inside: avoid;
  }

  .s-siteContainer {
    padding: 0;
  }

  .s-section {
    padding-top: 0;
    padding-bottom: 0;
    & + & {
      margin-top: 30px;
    }
  }

  a {
    text-decoration: none !important;
    color: #000 !important;
    * {
      color: #000 !important;
    }
  }

  // Header
  .c-header {
    position: static;
    box-shadow: none;
    margin-bottom: 20px;
    border-bottom: 0;
    &__main {
      padding: 0;
      justify-content: center;
      height: auto !important;
    }
    &__logo {
      margin: 0;
    }
  }

  // Footer
  .c-footer {
    margin-top: 30px;
    .l-row {
      display: block;
    }
    &__box {
      width: 100% !important;
      max-width: none;
      text-align: center;
      &_title, 
      &_content, 
      &_social {
        display: none;
      }
    }
  }


  // Cards
  .s-categoryList__items {
    //@include cf;
    .l-grid {
      display: block;
      clear: both;
      @include cf;
      > div {
        float: left;
        width: 50%;
      }
      > div.l-grid__12\@md {
        width: 100%;
      }
    }
  }


  .c-card {
    page-break-inside: avoid;
  }

  // Reset shadows
  .c-leadMedia,
  .c-userForm, 
  .c-quizQuestion, 
  .c-contact__form {
    box-shadow: none;
    border: 1px solid #ddd;
  }

  .c-cardSm__box, 
  .c-cardXs__box, 
  .c-cardLg__box,
  .c-cardSingle__box,
  .c-cardDouble__box,
  .c-cardFull__box, 
  .c-cardFeatured__box {
    box-shadow: none;
  }

  .c-cardSm__img, 
  .c-cardXs__img, 
  .c-cardLg__img,
  .c-cardSingle__img,
  .c-cardDouble__img,
  .c-cardFull__img, 
  .c-cardFeatured__img {
    min-height: 200px !important;
    max-height: 200px !important;
  }

  .c-cardDouble__img, 
  .c-cardLg__img {
    min-height: 300px !important;
    max-height: 300px !important;
    position: relative;
    overflow: hidden;
  }

  .c-cardXs__img {
    min-height: 100px !important;
    max-height: 100px !important;
  }

  .c-cardSm__content, 
  .c-cardXs__content, 
  .c-cardLg__content,
  .c-cardSingle__content,
  .c-cardDouble__content,
  .c-cardFull__content, 
  .c-cardFeatured__content {
    padding: 15px 0 0;
    height: auto !important;
  }

  .c-cardXs__content {
    padding-left: 15px;
  }

  [data-mh] {
    height: auto !important;
  }

  .c-card img {
    border-radius: 4px;
  }


}