.s-section {
  @include padding-lr;
}

.s-info{
  background-image: url("/assets/images/ui/shapes.png");
  background-size: contain;
  background-repeat: no-repeat;

  min-height: calc(100vh - 82px);

  @include mq(sm){
    align-items: flex-start;
    text-align:  center;
  }

  &::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 53.5%;
    min-width: 360px;
    height: 100vh;
    background-image: url("/assets/images/ui/wave.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
  }

  .l-container{
    margin-top: 220px;
    margin-bottom: 20px;

    @include mq(sm){
      margin-top: 40px;
    }
  }

  &__title{
    width: 100%;
    max-width: 640px;

    @include mq(sm){
      margin: 0 auto;
    }
  }

  &__desc{
    width: 100%;
    max-width: 447px;
    margin-top: 22px;
    line-height: 2.13;

    @include mq(sm){
      margin: 24px auto;
    }
  }

  &__cta{
    margin-top: 31px;
  }

  .e-btn{
    @include mq(sm){
      display: flex;
      margin: 0 auto;
    }

    &+&{
      margin-top: 12px;

      @media (min-width: $break-sm + 1){
        margin-left: 20px;
      }
    }
  }
 
}

.s-logo{
  @include paddingM-t;

  @include mq(sm){
    display: none
  }
  
  .l-container{
    @include flex(row, nowrap, space-between, center);
    padding-bottom: 30px;
    border-bottom: 3px solid #f1f1f1;
      
    .c-logo{
      flex: 1;
    }

    .c-logo + .c-logo{
      margin-left: 12px;
    }

    img{
      width: 100%;
      max-width: max-content;
    }
 }

}

.s-about{
  position: relative;
  padding-top: 134px;
  padding-bottom: 120px;

  &__text{
    width: 58%;

    @media (max-width: 902px){
      order: 1;
      width: 100%;
      text-align: left;
    }

    & .c-sectionTitle{
      max-width: 550px;

      @include mq(sm){
        margin-left: auto;
        margin-right: auto;
      }
    }

    .e-btn{
      margin-top: 35.5px;

      @media (max-width: 902px){
        display: flex;
        margin: 40px auto;
      }
    }
  }

  &__img{
    align-self: flex-start;
    flex-shrink: 0;
    position: relative;
    max-width: 420px;
    padding-right: 30px;
    margin-left: 32px;

    @media (max-width: 902px){
      order: 2;
      width: 100%;
      margin: 80px auto 0;
      padding-right: 0; 
    }
  }

  .l-container{
    @include flex(row, nowrap, space-between, center);

    @media (max-width: 902px){
      flex-direction: column;
    }
  }
}

.s-services{
  @include padding-tb;
  background-color: $color-bg-secondary;
}

.s-leadership{
  @include padding-tb;
}

.s-projects{
  @include padding-tb;
  background-color: $color-bg-secondary;

  .l-container--md{
    @include padding-lr;
  }

  .l-grid{
    margin-top: 22px;

    @include mq(sm){
      margin-top: 6px;
    }
  }
}

.s-pricing{
  @include padding-tb;
}

.s-articles{
  @include padding-tb;
  background-color: $color-bg-secondary;
}

.s-newsletter{
 padding-top: 106px;
 padding-bottom: 106px;

  @include mq(md){
    text-align: center;

    padding-top: 44px;
    padding-bottom: 44px;
  }

  .l-container{
    padding: $paddingXS 30px;
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 50%;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.15);
    transform: translateX(-50%);
    background-color: white;

    @include mq(md){
      position: relative;
      flex-direction: column;
    }
  }

  &__invite{
    flex: 4;
    margin-right: 23px;

    h3{
      @include fluid-type(22px, 30px);
      line-height: 1.33;
      margin-bottom: 12px;
      font-weight: bold;
    }

    p{
      line-height: 1.63;
    }
  }

  &__subscribe{
    flex: 6;
    margin-left: 23px;

    display: flex;
    align-items: center;

    @include mq(md){
      margin-top: 16px;
      width: 100%;
      max-width: 675px;
      margin: 16px auto 0;
    }
  }
}