// Breakpoints
$break-xs: 520px;
$break-sm: 767px;
$break-md: 1080px;
$break-lg: 1200px;
$break-xl: 1440px;

// Breakpoints mixins
@mixin mq($bp) {
  // Smallest mobile screens
  @if $bp== "xs" {
    @media (max-width: $break-xs) {
      @content;
    }
  }

  // Mobile screens
  @else if $bp== "sm" {
    @media (max-width: $break-sm) {
      @content;
    }
  }

  // Tablet screens
  @else if $bp== "md" {
    @media (max-width: $break-md) {
      @content;
    }
  }

  // Tablet only - avoid inheritance
  @else if $bp== "md-only" {
    @media (min-width: ($break-sm + 1)) and (max-width: $break-md) {
      @content;
    }
  }

  // Desktop screens
  @else if $bp== "lg" {
    @media (min-width: ($break-md + 1)) {
      @content;
    }
  }

  // Small desktop only - avoid inheritance
  @else if $bp== "lg-only" {
    @media (min-width: $break-lg) and (max-width: ($break-xl - 1)) {
      @content;
    }
  }

  // Large desktop screens
  @else if $bp== "xl" {
    @media (min-width: ($break-lg + 1)) {
      @content;
    }
  }
}