// Global colors
$color-primary:               #172541;
$color-secondary:             #fe4c1c;

$color-primary-light:         lighten($color-primary, 45%);
$color-secondary-light:       lighten($color-secondary, 10%);

$color-primary-dark:          #000;
$color-secondary-dark:        darken($color-secondary, 30%);

$color-txt-primary:          #172541; 
$color-txt-secondary:         #666;
$color-txt-light:             #999;
$color-txt-dark:              #000;

// State colors
$color-error:                 #dc3545;
$color-warning:               #ffc107;
$color-neutral:               #007bff;
$color-success:               #28a745;

$color-kbd-focus-border:      #ff0000;

$color-outline-focus:         rgba(#AD208E, .5);

// Action/highlighted colors 
$color-highlight-txt:         red;
$color-highlight-elem:        #bfe1fd;

// Global backgrounds
$color-bg-primary:            #fff;
$color-bg-secondary:          #f7fcff;

// Global dividers & borders
$divider-base-color:          #dbedf4;
$divider-dark-color:          #333;
$divider-light-color:         #eee;

// Overlay
$overlay-bg-color:            rgba(#000, .85);