@font-face {
  font-family: "dijabetes-icons";
  src:url("../../fonts/dijabetes-icons.eot");
  src:url("../../fonts/dijabetes-icons.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/dijabetes-icons.woff") format("woff"),
    url("../../fonts/dijabetes-icons.ttf") format("truetype"),
    url("../../fonts/dijabetes-icons.svg#dijabetes-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "dijabetes-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="e-icon-"]:before,
[class*=" e-icon-"]:before {
  font-family: "dijabetes-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.e-icon-clock:before {
  content: "\61";
}
.e-icon-cloche:before {
  content: "\62";
}
.e-icon-flame:before {
  content: "\63";
}
.e-icon-soup-bowl:before {
  content: "\64";
}