.c-alert {
  position: relative;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  margin: $base-spacing-unit 0;
  line-height: 1.25;
  color: $color-txt-primary;

  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }

  &--primary {
    background: $color-neutral;
    border-color: darken($color-neutral, 7%);
    color: #fff;
  }

  &--secondary {
    background: $color-primary-light;
    border-color: darken($color-primary-light, 7%);
  }

  &--success {
    background-color: lighten($color-success, 50%);
    border-color: lighten($color-success, 40%);
    color: darken($color-success, 15%);
  }

  &--error {
    background-color: lighten($color-error, 40%);
    border-color: lighten($color-error, 35%);
    color: $color-error;
  }

  &--warning {
    background-color: lighten($color-warning, 30%);
    border-color: lighten($color-warning, 20%);
    color: darken($color-warning, 25%);
  }

}