.c-card{
    width: 100%;
    background-color: white;
    
    &:hover{
        .c-card{
            &__tag{
                background-color: $color-secondary;
            }

            &__img_hover{
                opacity: 1;
            }
        }
    }

    &__tag{
        position: absolute;
        bottom: 0;
        left: 20px;
        transform: translateY(50%);  
        
        transition: .3s background-color ease-in;
        
        width: fit-content;
        padding: 3px 16px 3.75px 19px;

        background-color: $color-primary;
        color: white;

        font-size: 12px;
        line-height: 2.17;
        font-weight: 600;
    }

    &__img{
        position: relative;

        img{
            width: 100%;
            height: auto;
            vertical-align: top;
        }

        &_hover{
            transition: .25s all ease-in; 
            opacity: 0;
            color: white;
            text-align: center;
            
            display: flex;
            justify-content: center;
            align-items: center;
            
            position: absolute;
            top: 0;
            z-index: 111;
            
            width: 100%;
            height: 100%;
            
            background-color: #d03e17;
            
            i{
                border: none;
                cursor: pointer;
                
                &:hover{
                    color: $color-secondary;
                }
            }
            
            a+a{
                margin-left: 32px;
            }
            
        } 
    }

    &__content{
        padding: 18px 22px 28px 22px;
        
        &_title{
            padding: 0px 0 15px;
        }
        
        &_desc{
            line-height: 1.71;
            font-size: 16px;
        }

        span{
            display: inline-block;
            font-size: 1em;
        }

        span.currency{
            font-size: .75em;
            color: $color-primary;
        }
    }

    &__footer{
        display: flex;
        justify-content: space-between;

        font-size: 14px;
        font-weight: normal;

        height: fit-content;
        padding-top: 20px;
        padding-bottom: 28px;
        margin-right: 18px;
        margin-left: 18px;

        border-top: 1px solid #dddddd;

        &_item{
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            img, i{
                margin-right: 12px;
            }
        }

        i{
            color: $color-secondary;
        }

        img{
            display: inline;
            border-radius: 50%;
        }
    }

    &--services{
        border: 2px solid white;
        text-align: center;

        &:hover{
            transition: .2s border ease-in;
            border: 2px solid $color-secondary;

            .c-card__img{
                transform: translateY(-30px);
                transition: .2s  all ease-in;

                background-color: $color-secondary;
                border-color: $color-secondary;
                color: white;
            }
        }

        .c-card{
            &__img{
                width: 70px;
                height: 60px;
                margin-left: auto;
                margin-right: auto;
                border: 2px solid #dddddd;
                text-align: center;
                margin-top: 30px;
                color: $color-secondary;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &__content{
                &_title{
                    font-size: 18px;
                }
                &_desc{
                    font-size: 14px;
                }
            }
        }
    }

    &--team{
        transition: .25s all ease-in;
        text-align: center;
        box-shadow: 0 0 82px 0 rgba(0, 0, 0, 0.15);

        &:hover{
            background-color: $color-secondary;
            color: white;

            .c-card__img{
                &_hover{
                    opacity: 1;
                }
            }
        }
        
        .c-card{
            &__content{
                padding-bottom: 20px;

                &_title{
                    font-size: 24px;
                }
            }

        }
    }

    &--project{
        transition: .25s all ease-in;

        .c-card{
            &__img_hover{
                flex-direction: column;
                background-color: #7d7d7d;

                h3{
                    font-size: 28px;
                    font-weight: bold;

                    @include mq(xs){
                        font-size: 18px;
                    }
                }

                p{
                    font-size: 16px;
                    font-weight: bold;
                    margin-top: 8px;

                    @include mq(xs){
                        font-size: 13px;
                    }
                }

                >h3 + p{
                    margin-top: 10px;
                }
            }
        }
    }

    &--pricing{
        &:hover{
            .c-card{
                &__img{
                    &::before{
                        transition: .25s all ease-in;
                        border-color: transparent transparent transparent $color-secondary;
                    }
                    &::after{
                        transition: .25s all ease-in;
                        border-color: transparent transparent rgba($color-secondary, 0.55) transparent;
                    }
                }
                
                &__content{
                    transition: .25s all ease-in;
                    background-color: $color-bg-secondary;

                    .e-btn{
                        transition: .25s all ease-in;
                        background-color: $color-secondary;
                    }
                }
            }
        }

        .c-card{
            &__img{
                overflow: hidden;
                height: 130px;
                
                color: black;

                &_overlay{
                    position: absolute;
                    color: white;
                    bottom: 20px;
                    left: 16.75px;
                    z-index: 5;
                    font-family: $font-family-secondary;

                    cursor: default;

                    h3{
                        font-size: 24px;
                    }

                    p{
                        font-size: 18px;
                    }

                    h3+p{
                        margin-top: 6px;
                    }
                }
                    
                &::before{
                    content: "";
                    position: absolute;
                    bottom: 0;
                    height: 0;
                    width: 0;
                    z-index: 5;
    
                    border-style: solid;
                    border-width: 130px 0 0 555px;
                    border-color: transparent transparent transparent $color-primary;
                }
    
                &::after{
                    content: "";
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 0;
                    height: 0;
                    z-index: 4;
    
                    border-style: solid;
                    border-width: 0 0 110px 555px;
                    border-color: transparent transparent #878787 transparent;                
                }
            }

            &__content{
                padding-top: 36px;
                border: solid 1px #dddddd;
                text-align: center;

                &_title{
                    font-size: 30px;
                }

                &_desc{
                    font-size: 18px;
                    color: #172541;

                    p + p{
                        margin-top: 6px;
                    }
                }
    
                .e-btn{
                    background-color: $color-primary;
                    transition: none;
                    width: 160px;
                    height: 48px;
                }
            }
        }
    }

    &--article{
        .c-card{
            &__content{
                padding-top: 42px;
                padding-bottom: 15.5px;    
                
                &_title{
                    line-height: 1.35;
                    font-size: 26px;
                    padding-bottom: 10.9px;
                }

                &_text{
                    line-height: 1.63;
                }
            }
        }
        
        &:hover{
            box-shadow: 0px 65px 45px 0 rgba(0, 0, 0, 0.1);
        }
    }
}