.c-cookie {
  position: fixed;
  z-index: $z-index--modal;
  bottom: 20px;
  right: 20px;
  width: 420px;
  background: darken($color-primary, 35%);
  color: #fff;
  border-radius: 4px;
  display: none;

  @media (max-width: $break-md) {
    bottom: 60px;
  }
  @media (max-width: $break-sm) {
    right: 10px;
    bottom: 45px;
    width: 300px;
  }

  @media print {
    display: none;
  }

  &__body {
    padding: 20px;
  }

  &__content {
    line-height: 1.5;
    font-size: 16px;
  }

  &__buttons {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      text-decoration: underline;
      line-height: 1.25;
      &:hover {
        color: lighten($color-primary, 30%);
        text-decoration: none;
      }

    }

    @media (max-width: $break-sm) {
      text-align: center;
    }

  }

}