.c-decoratedImg{
    position: relative;

    &__img{
        width: 100%;
        height: fit-content;
        background-color: blue;
    }   
    
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(120px, -30px);
   
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 280px 347px 0;
        border-color: transparent $color-secondary transparent transparent;        
    }
        

}