.c-editor {

  font-size: 18px;

  @media (max-width: $break-sm) {
    font-size: 16px;
  }

  // SHARED - common rules for basic typography
  > ul, > .e-ul, > ol, > .e-ol, > dl, > .e-dl,
  > blockquote, > .e-blockquote, 
  > p, > .e-paragraph, > .e-p, 
  > address, > .e-address,
  > hr, > .e-hr,
  > table, > .e-table,
  > fieldset, > .e-fieldset, 
  > figure, > .e-figure,
  > pre, > .e-pre, 
  > .e-media {
      margin-top: $base-spacing-unit;
      &:first-child {
          margin-top: 0;
      }
  }

  line-height: 1.5;

  h2, h3, h4, h5, h6 {
    line-height: 1.33;
  }

  // Default link
  a:not(.e-btn) {
    color: $link-color;
    text-decoration: underline;
    transition: all .15s ease-in-out;
    &:hover {
      color: $link-hover-color;
      text-decoration: none;
    }
  }

  // Default lists
  ul, ol {
    margin-left: $base-spacing-unit;
  }

  ul {
    list-style-type: disc;
    > li > ul {
      margin-left: $base-spacing-unit;
      list-style-type: circle;
    }
    > li > ol {
      margin-left: $base-spacing-unit;
      list-style-type: decimal;
    }
  }

  ol {
    list-style-type: decimal;
    > li > ul {
      margin-left: $base-spacing-unit;
      list-style-type: circle;
    }
    > li > ol {
      margin-left: $base-spacing-unit;
      list-style-type: lower-alpha;
    }
  }

}