.c-filter{
  font-size: 14px;
  font-weight: 500;

  display: flex;
  justify-content: center;
  align-items: center;

  @include mq(sm){
    flex-direction: column;
  }

  &__item{
    cursor: pointer;
    display: inline;

    border-bottom: 2px solid white;

    &--active{
      border-bottom: 2px solid $color-secondary;
    }

    & + &{
      margin-left: 20px;

      @include mq(sm){
        margin-left: 0;
        margin-top: 6px;
      }

    }
  }
}