.c-footer {
    @include padding-lr;
    background-color: $color-bg-secondary;
    font-size: 15px;

    padding-top: 114px;
    padding-bottom: 36px;

    @include mq(md){
        padding-top: $paddingS * 0.5;
        padding-bottom: $paddingS * 0.5;
    }

    @include mq(sm){
        padding-top: $paddingS * 0.35;
        padding-bottom: $paddingS * 0.35;
    }

    .l-grid{
        .l-col{
            margin-top: 42px;
        }
    }
    
    &__title{
        margin-bottom: 30px;

        @include mq(sm){
            text-align: center;
        }
    }

    li + li{
        margin-top: 16px;
    }

    &__touch{
        line-height: 1.79;

        @include mq(sm){
            text-align: center;
        }

        i{
            padding: 11px;
            color: white;
            background-color: $color-primary;
            border-radius: 50%;
            margin-right: 16px;
        }

        ul{
            padding-top: 30px;
            
            @include mq(sm){
                display: block;
                width: fit-content;
                margin: 0 auto;
                text-align: left;
            }

            li{
                &:hover{
                    i{
                        background-color: $color-secondary;
                    }
                }
            }
        }
    }

    &__services{
        ul{
            margin-left: 16px;
            font-weight: 500; 

            @include mq(sm){
                display: block;
                width: fit-content;
                margin: 0 auto;
                text-align: left;
            }
            
            li{
                &::before{
                    content: "\2022";  
                    color: #dddddd;
                    display: inline-block; 
                    width: 1em; 
                    font-weight: bold;
                    margin-left: -16px;
                }

                &:hover{
                    &::before{
                        color: $color-secondary;
                    }
                }
            }
        }
    }

    &__link{
      &_content{
          display: flex;
          font-weight: 500;

          ul{
            @include mq(sm){
                display: block;
                width: fit-content;
                margin: 0 auto;
                text-align: left;
            }
          }

          >ul + ul{
            margin-left: 26px;
          }
        }  
    }

    &__subscribe{
        line-height: 1.73;

        &_logos{
            margin-top: 26px;

            @include mq(sm){
                text-align: center;
            }

            .fa{
                cursor: pointer;

                &:hover{
                    color: $color-secondary;
                }

                &+&{
                    margin-left: 12px;
                }
            }
        }

        .c-field{
            margin-top: 30px;

            input{
                border-radius: 0;
                border-color: $color-secondary;
                padding-left: 10px;
                padding-top: 0px;
                padding-bottom: 0px;
                height: 42px;
                background-color: #f7fcff;
                font-size: 15px;

                &::placeholder{
                    color: black;
                }
            }

            .e-btn{
                display: block;
                border-radius: 0;
                padding-left: 6px;
                padding-right: 6px;
            }
        }
    }

    &__copyright{
        display: flex;
        justify-content: space-between;
        margin-top: $paddingS;
        padding-top: 36px;
        border-top: 1px solid #dddddd;
        font-size: 14px;

        @include mq(sm){
            flex-direction: column;
        }

        .c-nav{
            @include mq(sm){
                order: 1;
            }
        }

        &_text{
            @include mq(sm){
                order: 2;
                margin-top: 16px;
                text-align: center;
            }
        }
    }
}