.c-header {
  width: 100%;
  z-index: 175;
  padding: 40px 0 9px 0;

  .l-container{
    @include flex(row, wrap, space-between, center);
  }

  &__logo{
    font-size: 45px;
    height: 33px;
    transform: translateY(-50%);
    font-weight: bold;

    cursor: default;
    user-select: none;
  }
}