.c-nav {
  display: flex;
  justify-content: center;

  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-decoration: none;
  
  @media (min-width: $break-md){
    visibility: visible;
  }

  @include mq(sm){
    flex-direction: column;
    align-items: center;
  }

  &__items{
    @include mq(md){
      color: darken($color: white, $amount: 13%);
      box-shadow: 15px 0px 55px black;
      overflow-y: scroll;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 2;
      width: 75%;
      min-width: 360px;
      height: 100vh;

      background-color: $color-secondary;
      @include flex(column, nowrap, flex-start, center);
    }

    @include mq(sm){
      width: 100%;
    }
  }

  &__item{
    position: relative;
    cursor: pointer;
    display: inline;

    @include mq(md){
      text-align: center;
      width: 100%;
      padding: 32px 0;
    }

    .fa-sort-down{
      position: relative;
      transform: translateY(50%);
      top: -50%;
      font-size: 1em;
    }

    &:hover{
      color: $color-secondary;

      @include mq(md){
        color: white;
        background-color: lighten($color-secondary, 6%);
      }
    }

    &+&{
      margin-left: 1.8em;

      @include mq(md){
        margin-left: 0;
      }
    }
  }

  .fa-bars{
    cursor: pointer;
    background-color: transparent;
    border-radius: 50%;
    transition: background-color .15s ease-in;
  }
    
  &--sm{
    font-size: 14px;
    font-weight: 500;

    .c-nav{
      &__item{
        & + &{
          @include mq(sm){
            margin-left: 0;
            margin-top: 4.5px;
          }
        }
      }
    }
    
  }

}