.c-title{
    line-height: 1.2;
    font-weight: bold;

    @media (min-width: 715px) {
       font-size: $font-size-h1;
    }; 

   @include fluid-type(31px,  $font-size-h1);
}

.c-sectionTitle{
    @include fluid-type(24px, $font-size-h2); 
    line-height: 1.51;
    text-align: center;
    font-weight: bold;
    margin-bottom: 26.065px;

    @include mq(md){
        margin-bottom: 20px;
    }

    @include mq(sm){
        text-align: center;
        margin-bottom: 15px;
    }

    span{
        font-size: 18px;
        font-weight: 600;
        color: $color-secondary;
        margin-bottom: 3px;
    } 

    &--lg{
        @include fluid-type(32px, $font-size-h2 + 13); 
        line-height: 1.4;
    }

    &--lft{
        text-align: left;
    }

}