// Aspect ratio
@mixin aspect-ratio($x: 16, $y: 9) {
  position: relative;
  padding-bottom: ( $y / $x ) * 100%;
}

// Object fit
@mixin object-fit($mode, $aspect-ratio) {
  position: relative; 

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: $aspect-ratio; // Aspect ratio
  }

  img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    object-fit: $mode;
    font-family: "object-fit: #{$mode}";
  }
}