// Flexbox
$enable-flex-classes: false;

@mixin flex($direction: row, $break: wrap, $align: center, $valign: center) {
  display: flex;
  flex-flow: $direction $break;
  justify-content: $align;
  align-items: $valign;
}

@mixin d-flex() {
  display: flex;
}

// Flex-row
@mixin flex-row() {
  @include d-flex;
  flex-direction: row;
}
@mixin flex-row-reverse() {
  @include d-flex;
  flex-direction: row-reverse;
}

@if $enable-flex-classes {
  %u-flexRow {
    @include flex-row;
  }
  %u-flexRow-reverse {
    @include flex-row-reverse;
  }
}

// Flex column
@mixin flex-column() {
  @include d-flex;
  flex-direction: column;
}
@mixin flex-column-reverse() {
  @include d-flex;
  flex-direction: column-reverse;
}

@if $enable-flex-classes {
  %u-flexColumn {
    @include flex-column;
  }
  %u-flexColumn-reverse {
    @include flex-column-reverse;
  }
}

// Flex justify content (horizontal align)
@mixin flex-justify-start() {
  @include d-flex;
  justify-content: flex-start;
}
@mixin flex-justify-end() {
  @include d-flex;
  justify-content: flex-end;
}
@mixin flex-justify-center() {
  @include d-flex;
  justify-content: center;
}
@mixin flex-justify-between() {
  @include d-flex;
  justify-content: space-between;
}
@mixin flex-justify-around() {
  @include d-flex;
  justify-content: space-around;
}

@if $enable-flex-classes {
  %u-flexJustify--start {
    @include flex-justify-start;
  }
  %u-flexJustify--end {
    @include flex-justify-end;
  }
  %u-flexJustify--center {
    @include flex-justify-center;
  }
  %u-flexJustify--between {
    @include flex-justify-between;
  }
  %u-flexJustify--around {
    @include flex-justify-around;
  }
}

// Flex align items (vertical align)
@mixin flex-align-start() {
  @include d-flex;
  align-items: flex-start;
}
@mixin flex-align-end() {
  @include d-flex;
  align-items: flex-end;
}
@mixin flex-align-center() {
  @include d-flex;
  align-items: center;
}
@mixin flex-align-baseline() {
  @include d-flex;
  align-items: baseline;
}
@mixin flex-align-stretch() {
  @include d-flex;
  align-items: stretch;
}

@if $enable-flex-classes {
  %u-flexAlign--start {
    @include flex-align-start();
  }
  %u-flexAlign--end {
    @include flex-align-end();
  }
  %u-flexAlign--center {
    @include flex-align-center();
  }
  %u-flexAlign--baseline {
    @include flex-align-baseline();
  }
  %u-flexAlign--stretch {
    @include flex-align-stretch();
  }
}
