@mixin padding-tb{
    padding-top: $padding;
    padding-bottom: $padding;

    @include mq(md){
      padding-top: $padding * 0.5;
      padding-bottom: $padding * 0.5;
    }

    @include mq(sm){
      padding-top: $padding * 0.35;
      padding-bottom: $padding * 0.35;
    }
}

@mixin paddingS-tb{
  padding-top: $paddingS;
  padding-bottom: $paddingS;

  @include mq(md){
    padding-top: $paddingS * 0.5;
    padding-bottom: $paddingS * 0.5;
  }

  @include mq(sm){
    padding-top: $paddingS * 0.35;
    padding-bottom: $paddingS * 0.35;
  }
}

@mixin padding-t{
  padding-top: $padding;

  @include mq(md){
    padding-top: $padding * 0.5;
  }

  @include mq(sm){
    padding-top: $padding * 0.35;
  }
}

@mixin paddingM-t{
  padding-top: 108px;

  @include mq(md){
    padding-top: 108px * 0.5;
  }

  @include mq(sm){
    padding-top: 108px * 0.35;
  }
}

@mixin padding-lr{
  padding-left: 44px;
  padding-right: 44px;

  @include mq(md){
    padding-left: 44px * 0.5;
    padding-right: 44px * 0.5;
  }

  @include mq(sm){
    padding-left: 44px * 0.35;
    padding-right: 44px * 0.35;
  }
}