.l-grid {
  @include row;

  justify-content: center;

  &--gutters{
    >div{
      @include block-padding;
      margin-top: 28px;
    }
  }

  // Desktop (lg, xl)

  // Tablet (md)

  // Mobile (sm)

  // Smallest mobile (xs)
  
}
