body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-family: $font-family-primary;
  font-size: $font-size-base;
  letter-spacing: 0.025em;
  color: $color-txt-primary;
  background-color: $color-bg-primary;


  min-width: 360px;

/* 
  @media (max-width: $break-md) {
    padding-top: 80px;
  }
  @media (max-width: $break-sm) {
    padding-top: 60px;
  }
 */
  // iOS font smoothing
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // iOS scroll
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
