button {
  appearance: none;
  box-shadow: none;
  cursor: pointer;
  display: inline-flex;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  background: transparent;
  outline: none;
}

a,
button {
  &[disabled] {
    @extend %u-disabled;
  }
}

.e-btn {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  white-space: normal;
  text-decoration: none;
  width: fit-content;

  padding: 0;

  font-family: $font-family-primary;
  font-size: $font-size-base;
  text-align: center;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.025em;

  width: 140px;
  min-height: 42px;
  background: $color-secondary;
  color: #fff;
  border: 0;
  border-radius: 24px;
  transition: all 0.25s ease-in-out;

  &:hover,
  &:focus {
    background-color: darken($color-secondary, 8%);
  }

  &--secondary{
    background-color: white;
    color: $color-primary;
    border: solid 1px #dddddd;

    &:hover{
      background-color: darken(white, 2%);
    }
  }

  &--block {
    display: flex;
    width: 59px;
    height: 42px;
    margin-left: 0;
    margin-right: 0;
  }

  &--large {
    width: 170px;
    height: 55px;
  }

  &--small {
    
  }

  &--icon-before {
    i {
      margin-right: 5px;
    }
  }

  &--icon-after {
    i {
      margin-left: 5px;
    }
  }

}
