%u-disabled {
  opacity: 0.25;
  pointer-events: none;
}

%u-full-width {
    max-width: 100%;
    width: 100%;
}

%u-center-vertically {
    top: 50%;
    transform: translateY(-50%);
}

%u-clearfix {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

%u-link-reset {
  color: inherit;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}

.addthis_native_toolbox {
  display: none;
}

.u-hideForMobile{
  @media (max-width: $break-md){
    display: none;
  }
}

.u-hideForDesktop{
  @media (min-width: $break-md + 1){
    display: none;
  }
}